<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>RegisterJobseekerServlet</servlet-name>
        <servlet-class>controller.RegisterJobseekerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmailRegisterServlet</servlet-name>
        <servlet-class>controller.VerifyEmailRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassJobseeker</servlet-name>
        <servlet-class>controller.ForgetPassJobseeker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmailChangePass</servlet-name>
        <servlet-class>controller.VerifyEmailChangePass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginJobseeker</servlet-name>
        <servlet-class>controller.LoginJobseeker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileJobseeker</servlet-name>
        <servlet-class>controller.UpdateProfileJobseeker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassEmployer</servlet-name>
        <servlet-class>controller.ChangePassEmployer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>controller.FileUploadServlet</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>CVJobSeekerServlet</servlet-name>
        <servlet-class>controller.CVJobSeekerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployerDetailCVServlet</servlet-name>
        <servlet-class>controller.EmployerDetailCVServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCVServlet</servlet-name>
        <servlet-class>controller.CreateCVServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterJobseekerServlet</servlet-name>
        <url-pattern>/registerjobseeker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmailRegisterServlet</servlet-name>
        <url-pattern>/verifyregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassJobseeker</servlet-name>
        <url-pattern>/forgetpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmailChangePass</servlet-name>
        <url-pattern>/verifychangepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginJobseeker</servlet-name>
        <url-pattern>/loginjobseeker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileJobseeker</servlet-name>
        <url-pattern>/updateprofilejb</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <servlet-class>controller.GoogleLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleLoginServlet</servlet-name>
        <url-pattern>/googlelogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassEmployer</servlet-name>
        <url-pattern>/changepassemployer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CVJobSeekerServlet</servlet-name>
        <url-pattern>/CVSeeker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployerDetailCVServlet</servlet-name>
        <url-pattern>/detailCV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCVServlet</servlet-name>
        <url-pattern>/createCV</url-pattern>
    </servlet-mapping>
</web-app>
